/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color:
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
  font-family: 'Cabin Sketch', cursive;

  font-size: 70px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 500px;

}


body {

  http://colorzilla.com/gradient-editor/#cedce7+30,596a72+84 */
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(206,220,231,1) 30%, rgba(89,106,114,1) 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(206,220,231,1) 30%,rgba(89,106,114,1) 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(206,220,231,1) 30%,rgba(89,106,114,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
}
  h1 {
    font-size: 30px;
      }
  h2 {
    font-size:20px;
      }
  h3 {
    font-size: 40px;
      }
  h4 {
    font-size: 20px;
      }

.teeth {
  background-image: url(tooth.png);
  background-position: center;
  background-size: 30%;
}

.cascading-text span {
  display: inline-block;
  transform: translateY(20px);
}

      .cascading-text {
            margin-bottom: 140px;
              }

.vertical-text span {
display: block;
}
      .vertical-text {
        margin-top: 100px;
        margin-bottom: 200px;
      }


.dental-school span {
  display: inline-block;
  transform: translateY(100px) scale(2,3);
}
    .dental-school {
      margin-top: 200px;
      margin-bottom: 900px;
    }

.cascading-text2 span {
    display: inline-block;
    transform: translateX(50px);
    color:gold;
}
      .cascading-text2 {
      margin-top: 100px;
      margin-bottom: 700px;
    }

.timetotime span {
    display: inline-block;
    transform:scale(3,4);
    color:gold;
}
      .timetotime {
        margin-bottom: 100px;
        margin-top: 100px;
        margin-left:200px;
        margin-right: 600px;

}

.numb span {
  display: block;
  transform:scale(.5,.5);
  color: white;

}

.tradewinds span {
  display: inline-block;
  transform:scale(5,5);
  color: gold;
  margin-top: 300px;
  margin-bottom:600px;
}
    .tradewinds {
      margin-top: 200px;
      margin-bottom: 300px;
    }

.window span {
  display:inline-block;
  color:gold;
  transform:translateY(20px);
  transform:scale(3,2);

}

    .window {

      color: white;
      margin-top: 300px;
      margin-bottom: 400px;
}

.cascading-text3 span {
      display: inline-block;
      transform:translateY(20px);
      transform:scale(1,2)
    }
      .cascading-text3 {
        margin-left: 200px;
}

.dandelion span {
  display:block;
}

.yellow {
  background-image: url(yellowdandelion.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: left;
  color:white;
}

.white {
  background-image: url(whitedandelion.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 300px;
  margin-bottom: 400px;
}

.winds {
  background-image: url(wind.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 200px;
  margin-bottom: 200px;
}
.cascading-text4 span {
  display: inline-block;
  transform:translateY(10px);
  transform:scale(1,1.5);
}
      .cascading-text4 {
        margin-bottom: 200px;
      }
.cascading-text5 span {
  display: inline-block;
  transform:translateY(50px);
  transform:scaleX(1,1);
  color:black;
}
    .cascading-text5 {
      margin-bottom: 600px;
    }
    .growing span{
    display:inline-block;
    transform: translateX(50px);
    transform:scale(1,1.5);
    }
.sink span {
  display: inline-block;
  transform:translateY(40px);
}

.sink {
  margin-bottom: 500px;
}

.window2  {
  color: white;
  margin-top: 500px;
  margin-bottom: 300px;
}

.you1 {
  display: block;
  transform:scale(4,4);
  margin-bottom: 200px;
  margin-top: 200px;
}
.you2 {
display: block;
transform: scale(3,3);
margin-bottom:200px;
}

.you3 span {
  display: block;
  transform: translateX(20px);
margin-left: 100px;
margin-bottom: 200px;
}

.you3 {
display: block;
transform: scale(2,2);
margin-left: 100px;
}

.Kiley {
  display: block;
  background-image: url(kiley.png);
  background-repeat:no-repeat;
  background-position: center;
  width:100%;
  padding: 100px 0px;
}

.Kiley h3 {
  opacity: 0;
  font-size: 12pt;
  font-family: "Snell Roundhand", cursive;

}

.Kiley:hover h3 {
opacity: 1;
}




















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
